body {
    background-image: url(./perfectBackground.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}

.notesApp {
    display: flex;
    height: 100%;
}

.sideBar {
    padding: 0 2.5%;
    height: 100vh;
    flex-shrink: 0;
    overflow-y: auto;
    width: 400px;
}

.buttons {
    padding: 5% 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.addNote {
    background-color: green;
    height: 50px;
    width: 175px;
    border-radius: 20px;
    font-size: 1.25rem;
    font-family: 'Montserrat' , sans-serif;
}

.deleteNote {
    background-color: #d11616;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    font-size: 1.25rem;
    font-family: 'Montserrat' , sans-serif;
}

.noteList {
    display: flex;
    flex-direction: column;
}

.noteListItem {
    width: 100%;
    padding: 2.5%;
    height: 100px;
    background-color: #1bb38a;
    border-top: 2px solid #009dff;
    cursor: pointer;
    border-width: 50%;
    transition: transform 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.noteListItemSelected {
    background-color: #22d9a8;
    transform: scale(1.02);
}

.noteListItem.active {
    background-color: #22d9a8;
    transform: scale(1.02);
}

.noteListTitle {
    font-family: 'Roboto' , sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.noteListText {
    font-family: 'Montserrat' , sans-serif;
    font-size: 1.15rem;
}

.noteListUpdated {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 3%;
    margin-right: 5%;
    font-size: 0.75rem;
    font-style: italic;
    color: rgb(0 , 0, 0 , 0.5);
    text-align: right;
}

.noteFooter {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 5% 0 0 0;
}

.noteFooter .deleteNoteIcon img{
    height: 25px;
    width: 25px;
}

.noteEditor {
    display: flex;
    flex-direction: column;
    padding: 2.5%;
    flex-grow: 1;
}

.noteTitleInput {
    font-family: 'Montserrat' , sans-serif;
    background-color: transparent;
    color: antiquewhite;
    outline: none;
    border: none;
    font-size: 3rem;
    width: 100%;
    font-weight: bold;
}

.noteTextInput {
    padding: 2.5%;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); /* for Safari support */
    outline: none;
    border: none;
    color: white;
    width: 1375px;
    height: 720px;
    font-family: 'Roboto' , sans-serif;
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 2em;
    resize: none;
    border-radius: 20px;
    padding: 1em;
    transition: transform 0.2s ease-in-out; /* Add transition for smooth animation */
}
.noteTextInput:hover, .noteTextInput:focus {
    transform: scale(1.01);
    transition: transform 0.2s ease-in-out;
}